## Recommended editor ##
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

## Packages ##
node_modules
dist
.next
tsconfig.tsbuildinfo
*.map
**/public/sw*
**/public/workbox*

## Services ##
db-data

## Others ##
.DS_Store