## Recommended editor ##
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

## Packages ##
node_modules
build
.next
*.map
# Auto generated:
client/public/sw.js
client/public/workbox*

## Services ##
db-data