## Recommended editor ##
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

## Packages ##
node_modules
build
dist
.next
tsconfig.tsbuildinfo
*.map
# Auto generated:
**/public/sw*
**/public/workbox*

## Services ##
db-data